* {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: black;
  color: white;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.logo img {
  height: 70px;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #ECF0F1;
  text-decoration: none!important;
  font-size: 16px;
}

nav ul li a:hover {
  color: #D8BFD8;
}

.active {
  color: #BA55D3;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.home-content {
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.name {
  font-weight: bolder;
  font-size: 60px;
  margin: 0;
}

.position {
  font-family: Courier, monospace;
  color: #BA55D3;
  font-size: 25px;
}

.about {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

button {
  cursor: pointer;
  margin-top: 40px;
  background-color: #D8BFD8;
  padding: 20px 60px;
  border: none;
  font-size: 16px;
  border-radius: 28px;
}

.avatar {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

footer {
  background-color: black;
  color: #FFFFFF;
  padding: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-section {
  flex: 1;
  margin: 10px;
  text-align: center;
}

.footer-section p {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-section h3 {
  margin-bottom: 10px;
  color: #D8BFD8;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section a {
  color: #E6E6FA;
  text-decoration: none!important;
}

.footer-section a:hover {
  color: #BA55D3;
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #BA55D3;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
